<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Restful booker API Test Suite">
    <test verbose="2" preserve-order="true" name="APIAutomationTesting">
        <classes>
            <class name="TestNg.Lab02"> </class>
            <class name="TestNg.Lab03"> </class>
        </classes>
    </test>
</suite>